.card {
    display: flex;
    flex-direction: row;
    background-image: url('../images/bg-pattern-desktop.svg');
    background-position: -1640% 68%;
    padding: 60px 60px 60px 0;
    font-size: 120%;
}

.card-image {
    position: static;
    background-image: url('../images/illustration-woman-online-desktop.svg');
    background-repeat: no-repeat;
    background-position: 2800% 0%;
    height: 359px;
    width: 50%;
    top: calc(50%  - (386px / 2));

}

.img-box {
    display: block;
    position: absolute;
    bottom: 132px;
    left: -82px;
    z-index: 1000;
}

.faq {
    width: 50%;
}

.title {
    text-align: initial;
}

.answer {
    line-height: 20px;
}