/* -------------------- */
/* BACKGROUND */
/* -------------------- */
body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
}
/* -------------------- */
/* CARD */
/* -------------------- */
.card {
    background-color: #fff;
    background-image: url('../images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    margin: 0 20px;
    border-radius: 12px;
    padding: 100px 16px 24px 16px;
    font-size: 12px;
    width: 100%;
    max-width: 1000px;
    z-index: 10;
}

/* -------------------- */
/* IMAGES */
/* -------------------- */
.img-box {
    display: none;
}
.card-image {
    position: absolute;
    background-image: url('../images/illustration-woman-online-mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 196px;
    width: 266px;
    top: -100px;
    left: calc(50% - (290px / 2));
    z-index: 1;
}

.main-img-desktop {
    display: none;
}

.main-img-shadow {
    margin: 0 auto;
    display: block;
}
/* -------------------- */
/* TEXT_CARD */
/* -------------------- */
.title {
    text-align: center;
    margin: 24px 0;
}
.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    cursor: pointer;
    transition: all .5s;
    color: hsl(237, 12%, 33%);
}
.question:hover {
    color: hsl(14, 88%, 65%);
}
.question.active {
    font-weight: 700;
}
.question img.active {
    transform: rotate(180deg);
}
.answer {
    display: none;
    padding-bottom: 24px;
    color: hsl(240, 6%, 50%);
    line-height: 15px;
}
.answer.active {
    display: block;
    animation: slideDown .5s forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        max-height: 200px;
        opacity: 1;
    }
}
.line {
    border: .5px solid hsl(240, 5%, 91%);
}
/* -------------------- */
/* FOOTER */
/* -------------------- */
.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}
.attribution a {
    color: white;
}