/* -------------------- */
/* CSS RESET */
/* -------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* -------------------- */
/* BACKGROUND */
/* -------------------- */
body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
}
/* -------------------- */
/* CARD */
/* -------------------- */
.card {
    background-color: #fff;
    background-image: url('../images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    margin: 0 20px;
    border-radius: 12px;
    padding: 100px 16px 24px 16px;
    font-size: 12px;
    width: 100%;
    max-width: 1000px;
    z-index: 10;
}

/* -------------------- */
/* IMAGES */
/* -------------------- */
.img-box {
    display: none;
}
.card-image {
    position: absolute;
    background-image: url('../images/illustration-woman-online-mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 196px;
    width: 266px;
    top: -100px;
    left: calc(50% - (290px / 2));
    z-index: 1;
}

.main-img-desktop {
    display: none;
}

.main-img-shadow {
    margin: 0 auto;
    display: block;
}
/* -------------------- */
/* TEXT_CARD */
/* -------------------- */
h1 {
    text-align: center;
    margin: 24px 0;
}
dt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    cursor: pointer;
    transition: all .5s;
    color: hsl(237, 12%, 33%);
}
dt:hover {
    color: hsl(14, 88%, 65%);
}
dt.active {
    font-weight: 700;
}
dt img.active {
    transform: rotate(180deg);
}
dd {
    display: none;
    padding-bottom: 24px;
    color: hsl(240, 6%, 50%);
    line-height: 15px;
}
dd.active {
    display: block;
    animation: slideDown .5s forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        max-height: 200px;
        opacity: 1;
    }
}
hr {
    border-top: .5px solid hsl(240, 5%, 91%);
}
/* -------------------- */
/* FOOTER */
/* -------------------- */
.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}
.attribution a {
    color: white;
}
/* -------------------- */
/* RESPONSIVE */
/* -------------------- */
@media (min-width: 768px) {
    .card {
        display: flex;
        flex-direction: row;
        background-image: url('../images/bg-pattern-desktop.svg');
        background-position: -1640% 68%;
        padding: 60px 60px 60px 0;
        font-size: 120%;
    }

    .card-image {
        position: static;
        background-image: url('../images/illustration-woman-online-desktop.svg');
        background-repeat: no-repeat;
        background-position: 2800% 0%;
        height: 359px;
        width: 50%;
        top: calc(50%  - (386px / 2));

    }

    .img-box {
        display: block;
        position: absolute;
        bottom: 132px;
        left: -82px;
        z-index: 1000;
    }

    .faq {
        width: 50%;
    }

    h1 {
        text-align: initial;
    }

    dd {
        line-height: 20px;
    }
}